@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background:#fff;
  --color-primary:#a67c52;
  --color-secondary: #998675;
  --color-ternary: #171411;
  --color-text-primary:#fff ;
  --color-text-secondary:#2C2C2C;
}
